.wrapper{
    height: 1000px;
    overflow: hidden;
    width: 100%;
}

.content-container{
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .wrapper{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-container{
        width: 5rem;
    }
}