.wrapper{
    overflow: hidden;
    width: 90% 0;
}

.content-container{
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .wrapper{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: 5rem;
    }
    .navbar-container{
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 5rem;
    }
}