<div class="contain">
    <h1>DASHBOARD</h1>

    <div id="buttons-container" *ngIf="selectorButtonsLoaded">
        <button (click)="selectButtonSteps()" id="button-steps" class="button-selected"><h2 id="totalSteps" class="totalDataVal-selected">{{totalSteps}}</h2>TOTAL STEPS</button>
        <button (click)="selectButtonCalories()" id="button-calories" class="button"><h2 id="totalCalories" class="totalDataVal"></h2>TOTAL CALORIES</button>
    </div>

    <div class="bubble">
        <select name="select" class="form-select" id="select">
            <option value="weekly" selected>WEEKLY</option>
            <option value="daily">DAILY</option>
        </select>
    </div>

    <div *ngIf="stepsSelected; else elseBlock" class="chart">
        <h2>Steps overview</h2>
        <app-chart></app-chart>
    </div>

    <ng-template #elseBlock>
        <div class="chart">
            <h2>The calories chart is not implemented yet</h2>
            <app-chart></app-chart>
        </div>
    </ng-template>
</div>