<div class="contain">
    <h1>DASHBOARD</h1>

    <div id="buttons-container">
        <button (click)="selectButtonSteps()" id="button-steps" class="button-selected"> TOTAL STEPS</button>
        <button (click)="selectButtonCalories()" id="button-calories" class="button"> TOTAL CALORIES</button>
    </div>

    <button id="logout" (click)="logout()">Logout</button>

    <div class="bubble">
        <select name="select" class="form-select" id="select">
            <option value="weekly" selected>WEEKLY</option>
            <option value="daily">DAILY</option>
        </select>
    </div>

    <div class="chart">
        <app-chart></app-chart>
    </div>
</div>