.contain {
  height: 100%;
  overflow: auto;
  width: 100%;
}

h1 {
  margin-top: 10px;
  text-align: center;
}

h2,
#addReward {
  margin: 10px;
}

#table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 5px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  width: 90%;
}

#table tr {
  border-bottom: 1px solid rgb(59, 59, 59);
}

#table tr td {
  padding: 10px;
}

#table tr td:nth-child(1) {
  text-align: start;
}

#table tr td:nth-child(6) {
  width: 5rem;
}

.form-select {
  width: 15%;
}

.rewardImg {
  width: 100%;
}

.sw-label{
  padding-top: 20px;
}

@media screen and (min-width: 1024px) {
  .contain {
    padding: 0 20px;
  }

  h1 {
    text-align: start;
  }
}
