<div class="wrapper">
  <div class="container">
    <h1 class="titles">Welcome</h1>
    <form class="form">
      <!--
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
			-->
      <h3 class="titles">Log in with</h3>
      <button (click)="login()" class="btn-social btn-google"><i class="bi bi-google"></i>Google</button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
