<div *ngIf="hasBackend; else elseBlock">

  <div class="contain">
    <h1>SCOREBOARD</h1>

    <table id="table" *ngIf="scoreboardRetrieved; else notRetrieved">
        <tr>
            <th>Display Name</th>
            <th>Steps</th>
            <th>Position</th>
        </tr>
        <tr *ngFor="let entry of scoreboard; index as i">
            <td>{{entry.user.displayName}}</td>
            <td>{{entry.score}}</td>
            <td>{{i + 1}}</td>
        </tr>
    </table>

    <ng-template>
        <h2>Scoreboard could not be retrieved</h2>
    </ng-template>

  </div>

</div>

<ng-template #elseBlock>
  <div>
    <p>Scoreboard only available when connected to backend</p>
  </div>
</ng-template>
